.calculator-wrapper {
  background-color: var(--secondary-color);
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;

  @media (max-width: 480px) {
    width: 100%;
    border-radius: 0;
  }
}
