@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --primary-color: #ffffff;
  --secondary-color: #212121;
  --accent-color: #ff9d00;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--primary-color);
}

h2 {
  color: #ff9d00;
}
